/*
@viewport {
    min-height: 200px;
    orientation: landscape;
}
*/
@media only screen and (orientation: landscape) {
    :root {
        --ah: 1vh;
        --aw: 1vw;
      }
}

@media only screen and (orientation: portrait) {
    :root {
        --aw: 1vh;
        --ah: 1vw;
    }
    body {-webkit-transform: rotate(-90deg);transform: rotate(-90deg);
        -webkit-transform-origin: 50vh 50vh;
                transform-origin: 50vh 50vh;
    }
}

html, body {
    position: relative;
    margin: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    overflow: hidden;
}
body {
    width: calc(100*var(--aw));
    height: calc(100*var(--ah));
}

#cover {
    z-index: 99;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

#btns {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    font-size: 3.5em;
}

.btn {
    flex: 2;
}

.btn:hover {
    font-style: oblique;
    text-decoration: underline;
}

input {
    color: grey;
}

.titlebar {
    font-size: 1.5em;
    text-align: center;
}

#bottombar {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

#info {
    font-size: 0.8em;
    color: grey
}

#mainWindow {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width:100%;
}

#topBox {
    height: 72%;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    z-index: -1;
    box-sizing:border-box;
}

.playerBox {
    box-sizing:border-box;
    height : 100%;
    text-align : center;
    flex: 1;
    /*
    border-right: 2px solid white;
    border-top: 2px solid white;*/
    border-bottom: 3px solid hsl(0, 0%, 60%);
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.playerBox hr {
    size: 1px;
    width: 80%;
}
.playerName {
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 4px;
}
.playerInfo {
    width: 100%;
    display: none;
    justify-content: space-evenly;
}
.turnNo, .money, .weapons, .health {
    display: inline-block
}
.playerBox > .playerInfo:first-child {
    margin-bottom: 3px;
}

.topCardWrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

.flipContainer {
    display: flex;
	transition: 0.2s;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
    position: relative;
    height : calc(28*var(--ah) - 7px);
    width : calc(14*var(--ah) - 3px);
}

.flipped {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

.topCard {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;/**/
    box-sizing: border-box;
    height : calc(28*var(--ah) - 7px);
    width : calc(14*var(--ah) - 3px);
    border: 3px solid white;
    /*box-shadow: 0 1px 8px #666;*/
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
}
.cardFront {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}
.cardBack {
    background-image: radial-gradient(#eeeeee,#bbbbbb, #888888);
}

.cardBackText {
    font-size:2em;
}
.deadText {
    font-size: 3em;
}

#bottomBox {
    height:28%;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: hsl(0, 0%, 80%);
    z-index: 1;
    display: flex; /*initially hidden*/
    align-items: stretch;
    justify-content: left;
}

#leftMenu {
    background-color: white;
    width: 4%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 1;
}

#cardBox {
    height: 100%;
    width: 100%;
    position: absolute;
    left: calc(4*var(--aw));
    overflow-x: visible;
    z-index: 0;
    padding-left: 6px;
    padding-top: 5px;
}

#cardWrapper {
    height: 100%;
    width: 95%;
    position: absolute;

}

.card {
    z-index: 99;
    box-sizing: border-box;
    height : calc(28*var(--ah) - 7px);
    width : calc(14*var(--ah) - 3px);
    float: left;
    border: 3px solid white;
    margin-right: 2px;
    /*box-shadow: 0 1px 8px #666;*/
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    transition: 0.15s ease-in-out;
    cursor: pointer;
}
.card.selected {
    -webkit-transform: translate(0,calc(-7*var(--ah) + 2px));
            transform: translate(0,calc(-7*var(--ah) + 2px));
}

.cardText {
    /*font-size:1.8em;*/
    font-size:calc(0.4*(14*var(--ah) - 3px));
    font-family: 'AaFangmeng16c172140b1eef1', sans-serif;
}

.defend {
    background-size: 100% 100% ;
    background-color :white;
    background-image: linear-gradient(#D5DCF2, #8F9FBF);
}

.buy {
    background-image: linear-gradient(120deg,#FFD354, #FFE28D, #FFEDC2, #FFE28D, #FFD354);
}
.use {
    background-image: linear-gradient(60deg, #F0C3BE, #F4A095, rgb(245, 139, 125), #F4A095,#F0C3BE);
}
.others {
    background-image: radial-gradient(at top right, #CCE3FF,#7CB9FF 66%, #488CDB);
}

.leftMenuItems {
    background-color: hsl(0, 0%, 60%);
    height: calc(25% - 1px);
    width: 100%;
    font-size: large;
    display: table; /*让元素以表格形式渲染*/
    cursor: pointer;
}
.menuItemText {
    display: table-cell;/*让元素以表格的单元素格形式渲染*/
    vertical-align: middle;/*使用元素的垂直对齐*/
}